@font-face {
  src: url(fonts/Kayak\ Sans\ Regular.otf);
  font-family: Kayak Regular;
  font-style: normal;
}

 {
  box-sizing: border-box;
}

:root {
  --bg-color: #ad4100;
  --link-color: #e3a22a;
  --link-hover-color: #c2aa90;
  --color-4: #402000;
  --color-5: #204c45;
  --color-6: #200;

  --primary-font: Kayak Regular;
  --secondary-font: "Droid Serif", serif;
  --main-text-color: #000;

  --white-space: 1rem;
  font-family: "Playfair Display", serif;
}

button:hover {
  opacity: 40%;
}

html {
  font-size: 100%;
  font-family: "Playfair Display", serif;
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: bold;
  color: white;
  font-family: "Catamaran", sans-serif;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  margin: var(--white-space) 0;
  font-family: "Catamaran", sans-serif;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-family: "Catamaran", sans-serif;
}

.header-wrapper h4 {
  font-size: 0.8rem;
  font-family: "Catamaran", sans-serif;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
  font-family: "Catamaran", sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  font-family: "Catamaran", sans-serif;
}

.swatches li {
  margin-right: 5vw;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 75%;
  width: 75%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
  background: url(../img/subtle_grunge.png) top left repeat;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/white_paperboard.png) top left repeat;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 4px;
  border-color: #204c45;
  background: none;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #204c45;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}

.secondary-button {
  border-radius: 50%;
  border-color: #ad4100;
  height: 120px;
  width: 120px;
  color: #ad4100;
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  color: #204c45;
  font-family: "Catamaran", sans-serif;
}

.h2-sample {
  font-family: "Catamaran", sans-serif;
  font-size: 1.25rem;
  color: #402000;
}

footer {
  font-family: "Catamaran", sans-serif;
}

p.typography-sample {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  max-width: 960px;
  color: #402000;
}

a {
  font-family: "Catamaran", sans-serif;
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: "Playfair Display", serif;
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
